<h1>Charlie ShmorgishBoard of Recipes</h1>
<table border=1>
  <tr>
    <th>Chef</th>
    <th>Cuisine</th>
  </tr>
  <% @recipes.each do |recipe| %>
    <tr>
      <td>
        <%= recipe.chef %>
      </td>
      <td>
        <%= link_to recipe.cuisine, process_path(recipe) %>
      </td>
    </tr>
  <% end %>
</table>
<br />
<%= button_to 'Add a Recipe', new_path, method: :get %>