<h1>Charlie ShmorgishBoard of Recipes</h1>
<ul>
  <% @recipes.each do |recipe|%>
    <li>
      Recipe for <%= recipe.cuisine %> by <%= recipe.chef %> 
    </li>
    <%= link_to 'See this Recipe', recipe_path(recipe) %>
  <% end%>
</ul>
<br />
<%= link_to 'Add a Recipe', new_path %>